* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  list-style: none;
}

.Banner_principal {
  height: 100px;
  background-color: #ff9800;
  padding-top: 30px;
}
.banner {
  text-align: center;
  color: #ffffff;
}
.Menu_principal > ul {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 15px;
  justify-content: center;
  background-color: #333333;
  color: #ffffff;
}
li a {
  color: #ffffff;
}
a:hover {
  color: #0000ff;
}
.conteudo_principal {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-bottom: 45px;
}
.locais_viagens {
  display: flex;
  gap: 1px;
  margin: 0;
  padding: 0;
}
.viagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border: solid 1px;
  border-radius: 8px;
  margin-left: 45px;
  background-color: #ffffff88;
}
.conteudo_principal > h2 {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.conteudo_principal > p {
  margin-left: 15px;
  margin-bottom: 15px;
}
.locais_viagens{
  height: auto;
  width: auto;
}
.viagens > h3 {
  margin-top: 10px;
}
.viagens > p {
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 320px;
}

.viagens > img {
  height: 200px;
  width: 300px;
  border-radius: 8px;
  margin-top: 30px;
}

aside {
  margin-left: 30px;
  background-color: #f4f4f4;
}
.lateral_aside {
  margin-left: 30px;
  margin-top: 20px;
}
main {
  display: flex;
}
footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  height: 100px;
}

footer > p {
  font-size: 20px;
  padding: 35px;
}
